// -----------------------------------------------------------------------------
// This file contains all styles related to the header/navbar of the website/application.
// -----------------------------------------------------------------------------

.navBarBG {
    background-color: rgba(0, 0, 0, 0.696);
    border-bottom: 1px solid;
    border-color: rgba(195, 16, 16, 0.25);
    backdrop-filter: blur(4px);
  }
