// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// _alignment
// -----------------------------------------------------------------------------

$align-center: center;
$align-justify: justify;

// _color
// -----------------------------------------------------------------------------

$light-color-1: #ffffff;
$light-color-2: #b9b9b9;
$light-color-3: #e0dede;

$dark-color-1: #000000;
$dark-color-2: #333333;

$link-light-color-1: #da3030;
$link-light-color-2: #7a1a1a;

// _sizes
// -----------------------------------------------------------------------------

$size-8: 0.5rem;
$size-12: 0.75rem;
$size-16: 1rem;
$size-24: 1.5rem;
$size-32: 2rem;
$size-40: 2.5rem;
$size-80: 5rem;

// _text decoration
// -----------------------------------------------------------------------------

$link-decoration: none;

// _typography
// -----------------------------------------------------------------------------

$font-sans: 'Rajdhani', sans-serif !important;
